.aruba { 
	fill: #1f77b4; 
} 
 
.afghanistan { 
	fill: #1f77b4; 
} 
 
.angola { 
	fill: #1f77b4; 
} 
 
.anguilla { 
	fill: #1f77b4; 
} 
 
.albania { 
	fill: #1f77b4; 
} 
 
._land_islands { 
	fill: #1f77b4; 
} 
 
.andorra { 
	fill: #1f77b4; 
} 
 
.united_arab_emirates { 
	fill: #1f77b4; 
} 
 
.argentina { 
	fill: #1f77b4; 
} 
 
.armenia { 
	fill: #1f77b4; 
} 
 
.american_samoa { 
	fill: #1f77b4; 
} 
 
.antarctica { 
	fill: #1f77b4; 
} 
 
.australia { 
	fill: #1f77b4; 
} 
 
.french_southern_territories { 
	fill: #1f77b4; 
} 
 
.antigua_and_barbuda { 
	fill: #1f77b4; 
} 
 
.australia { 
	fill: #1f77b4; 
} 
 
.austria { 
	fill: #1f77b4; 
} 
 
.azerbaijan { 
	fill: #aec7e8; 
} 
 
.burundi { 
	fill: #1f77b4; 
} 
 
.belgium { 
	fill: #1f77b4; 
} 
 
.benin { 
	fill: #1f77b4; 
} 
 
.burkina_faso { 
	fill: #aec7e8; 
} 
 
.bangladesh { 
	fill: #1f77b4; 
} 
 
.bulgaria { 
	fill: #1f77b4; 
} 
 
.bahrain { 
	fill: #1f77b4; 
} 
 
.bahamas { 
	fill: #1f77b4; 
} 
 
.bosnia_and_herzegovina { 
	fill: #1f77b4; 
} 
 
.saint_barth_lemy { 
	fill: #1f77b4; 
} 
 
.belarus { 
	fill: #1f77b4; 
} 
 
.belize { 
	fill: #1f77b4; 
} 
 
.bermuda { 
	fill: #1f77b4; 
} 
 
.bolivia__plurinational_state_of { 
	fill: #aec7e8; 
} 
 
.brazil { 
	fill: #ff7f0e; 
} 
 
.barbados { 
	fill: #1f77b4; 
} 
 
.brunei_darussalam { 
	fill: #1f77b4; 
} 
 
.bhutan { 
	fill: #1f77b4; 
} 
 
.botswana { 
	fill: #1f77b4; 
} 
 
.central_african_republic { 
	fill: #1f77b4; 
} 
 
.canada { 
	fill: #1f77b4; 
} 
 
.switzerland { 
	fill: #aec7e8; 
} 
 
.chile { 
	fill: #ff7f0e; 
} 
 
.china { 
	fill: #aec7e8; 
} 
 
.côte_d_ivoire { 
	fill: #ff7f0e; 
} 
 
.cameroon { 
	fill: #aec7e8; 
} 
 
.congo__the_democratic_republic_of_the { 
	fill: #aec7e8; 
} 
 
.congo { 
	fill: #ff7f0e; 
} 
 
.cook_islands { 
	fill: #1f77b4; 
} 
 
.colombia { 
	fill: #ffbb78; 
} 
 
.comoros { 
	fill: #1f77b4; 
} 
 
.cape_verde { 
	fill: #1f77b4; 
} 
 
.costa_rica { 
	fill: #1f77b4; 
} 
 
.cuba { 
	fill: #1f77b4; 
} 
 
.cura_ao { 
	fill: #1f77b4; 
} 
 
.cayman_islands { 
	fill: #1f77b4; 
} 
 
.undefined { 
	fill: #000000; 
} 
 
.cyprus { 
	fill: #aec7e8; 
} 
 
.czech_republic { 
	fill: #aec7e8; 
} 
 
.germany { 
	fill: #ff7f0e; 
} 
 
.djibouti { 
	fill: #1f77b4; 
} 
 
.dominica { 
	fill: #1f77b4; 
} 
 
.denmark { 
	fill: #ffbb78; 
} 
 
.dominican_republic { 
	fill: #1f77b4; 
} 
 
.algeria { 
	fill: #1f77b4; 
} 
 
.ecuador { 
	fill: #2ca02c; 
} 
 
.egypt { 
	fill: #1f77b4; 
} 
 
.eritrea { 
	fill: #aec7e8; 
} 
 
.spain { 
	fill: #aec7e8; 
} 
 
.estonia { 
	fill: #1f77b4; 
} 
 
.ethiopia { 
	fill: #ff7f0e; 
} 
 
.finland { 
	fill: #1f77b4; 
} 
 
.fiji { 
	fill: #1f77b4; 
} 
 
.falkland_islands_-malvinas- { 
	fill: #1f77b4; 
} 
 
.france { 
	fill: #ffbb78; 
} 
 
.faroe_islands { 
	fill: #1f77b4; 
} 
 
.micronesia__federated_states_of { 
	fill: #1f77b4; 
} 
 
.gabon { 
	fill: #ffbb78; 
} 
 
.united_kingdom { 
	fill: #1f77b4; 
} 
 
.georgia { 
	fill: #ff7f0e; 
} 
 
.guernsey { 
	fill: #1f77b4; 
} 
 
.ghana { 
	fill: #ffbb78; 
} 
 
.guinea { 
	fill: #ffbb78; 
} 
 
.gambia { 
	fill: #1f77b4; 
} 
 
.guinea_bissau { 
	fill: #2ca02c; 
} 
 
.equatorial_guinea { 
	fill: #2ca02c; 
} 
 
.greece { 
	fill: #aec7e8; 
} 
 
.grenada { 
	fill: #1f77b4; 
} 
 
.greenland { 
	fill: #1f77b4; 
} 
 
.guatemala { 
	fill: #aec7e8; 
} 
 
.guam { 
	fill: #1f77b4; 
} 
 
.guyana { 
	fill: #ffbb78; 
} 
 
.hong_kong { 
	fill: #ff7f0e; 
} 
 
.heard_island_and_mcdonald_islands { 
	fill: #1f77b4; 
} 
 
.honduras { 
	fill: #ff7f0e; 
} 
 
.croatia { 
	fill: #aec7e8; 
} 
 
.haiti { 
	fill: #aec7e8; 
} 
 
.hungary { 
	fill: #ff7f0e; 
} 
 
.indonesia { 
	fill: #1f77b4; 
} 
 
.isle_of_man { 
	fill: #1f77b4; 
} 
 
.india { 
	fill: #ff7f0e; 
} 
 
.undefined { 
	fill: #000000; 
} 
 
.british_indian_ocean_territory { 
	fill: #1f77b4; 
} 
 
.ireland { 
	fill: #aec7e8; 
} 
 
.iran__islamic_republic_of { 
	fill: #ff7f0e; 
} 
 
.iraq { 
	fill: #ffbb78; 
} 
 
.iceland { 
	fill: #1f77b4; 
} 
 
.israel { 
	fill: #aec7e8; 
} 
 
.italy { 
	fill: #2ca02c; 
} 
 
.jamaica { 
	fill: #1f77b4; 
} 
 
.jersey { 
	fill: #1f77b4; 
} 
 
.jordan { 
	fill: #2ca02c; 
} 
 
.japan { 
	fill: #1f77b4; 
} 
 
.undefined { 
	fill: #000000; 
} 
 
.kazakhstan { 
	fill: #ff7f0e; 
} 
 
.kenya { 
	fill: #ffbb78; 
} 
 
.kyrgyzstan { 
	fill: #ffbb78; 
} 
 
.cambodia { 
	fill: #1f77b4; 
} 
 
.kiribati { 
	fill: #1f77b4; 
} 
 
.saint_kitts_and_nevis { 
	fill: #1f77b4; 
} 
 
.korea__republic_of { 
	fill: #1f77b4; 
} 
 
.undefined { 
	fill: #000000; 
} 
 
.kuwait { 
	fill: #2ca02c; 
} 
 
.lao_people_s_democratic_republic { 
	fill: #ff7f0e; 
} 
 
.lebanon { 
	fill: #ff7f0e; 
} 
 
.liberia { 
	fill: #2ca02c; 
} 
 
.libya { 
	fill: #aec7e8; 
} 
 
.saint_lucia { 
	fill: #1f77b4; 
} 
 
.liechtenstein { 
	fill: #ff7f0e; 
} 
 
.sri_lanka { 
	fill: #1f77b4; 
} 
 
.lesotho { 
	fill: #1f77b4; 
} 
 
.lithuania { 
	fill: #aec7e8; 
} 
 
.luxembourg { 
	fill: #2ca02c; 
} 
 
.latvia { 
	fill: #ff7f0e; 
} 
 
.macao { 
	fill: #1f77b4; 
} 
 
.saint_martin_-french_part- { 
	fill: #1f77b4; 
} 
 
.morocco { 
	fill: #aec7e8; 
} 
 
.monaco { 
	fill: #1f77b4; 
} 
 
.moldova__republic_of { 
	fill: #1f77b4; 
} 
 
.madagascar { 
	fill: #1f77b4; 
} 
 
.maldives { 
	fill: #1f77b4; 
} 
 
.mexico { 
	fill: #ff7f0e; 
} 
 
.marshall_islands { 
	fill: #1f77b4; 
} 
 
.macedonia__the_former_yugoslav_republic_of { 
	fill: #ff7f0e; 
} 
 
.mali { 
	fill: #2ca02c; 
} 
 
.malta { 
	fill: #1f77b4; 
} 
 
.myanmar { 
	fill: #ffbb78; 
} 
 
.montenegro { 
	fill: #ff7f0e; 
} 
 
.mongolia { 
	fill: #ff7f0e; 
} 
 
.northern_mariana_islands { 
	fill: #1f77b4; 
} 
 
.mozambique { 
	fill: #1f77b4; 
} 
 
.mauritania { 
	fill: #98df8a; 
} 
 
.montserrat { 
	fill: #1f77b4; 
} 
 
.mauritius { 
	fill: #1f77b4; 
} 
 
.malawi { 
	fill: #aec7e8; 
} 
 
.malaysia { 
	fill: #aec7e8; 
} 
 
.namibia { 
	fill: #aec7e8; 
} 
 
.new_caledonia { 
	fill: #1f77b4; 
} 
 
.niger { 
	fill: #98df8a; 
} 
 
.norfolk_island { 
	fill: #1f77b4; 
} 
 
.nigeria { 
	fill: #d62728; 
} 
 
.nicaragua { 
	fill: #ffbb78; 
} 
 
.niue { 
	fill: #1f77b4; 
} 
 
.netherlands { 
	fill: #ffbb78; 
} 
 
.norway { 
	fill: #aec7e8; 
} 
 
.nepal { 
	fill: #ffbb78; 
} 
 
.nauru { 
	fill: #1f77b4; 
} 
 
.new_zealand { 
	fill: #1f77b4; 
} 
 
.oman { 
	fill: #aec7e8; 
} 
 
.pakistan { 
	fill: #2ca02c; 
} 
 
.panama { 
	fill: #2ca02c; 
} 
 
.pitcairn { 
	fill: #1f77b4; 
} 
 
.peru { 
	fill: #98df8a; 
} 
 
.philippines { 
	fill: #1f77b4; 
} 
 
.palau { 
	fill: #1f77b4; 
} 
 
.papua_new_guinea { 
	fill: #1f77b4; 
} 
 
.poland { 
	fill: #ffbb78; 
} 
 
.puerto_rico { 
	fill: #1f77b4; 
} 
 
.korea__democratic_people_s_republic_of { 
	fill: #ff7f0e; 
} 
 
.portugal { 
	fill: #ff7f0e; 
} 
 
.paraguay { 
	fill: #ffbb78; 
} 
 
.palestine__state_of { 
	fill: #98df8a; 
} 
 
.french_polynesia { 
	fill: #1f77b4; 
} 
 
.qatar { 
	fill: #1f77b4; 
} 
 
.romania { 
	fill: #ffbb78; 
} 
 
.russian_federation { 
	fill: #2ca02c; 
} 
 
.rwanda { 
	fill: #ff7f0e; 
} 
 
.western_sahara { 
	fill: #d62728; 
} 
 
.saudi_arabia { 
	fill: #98df8a; 
} 
 
.sudan { 
	fill: #ffbb78; 
} 
 
.south_sudan { 
	fill: #2ca02c; 
} 
 
.senegal { 
	fill: #d62728; 
} 
 
.singapore { 
	fill: #1f77b4; 
} 
 
.south_georgia_and_the_south_sandwich_islands { 
	fill: #1f77b4; 
} 
 
.saint_helena__ascension_and_tristan_da_cunha { 
	fill: #1f77b4; 
} 
 
.solomon_islands { 
	fill: #1f77b4; 
} 
 
.sierra_leone { 
	fill: #98df8a; 
} 
 
.el_salvador { 
	fill: #ffbb78; 
} 
 
.san_marino { 
	fill: #1f77b4; 
} 
 
.undefined { 
	fill: #000000; 
} 
 
.somalia { 
	fill: #2ca02c; 
} 
 
.saint_pierre_and_miquelon { 
	fill: #1f77b4; 
} 
 
.serbia { 
	fill: #2ca02c; 
} 
 
.sao_tome_and_principe { 
	fill: #1f77b4; 
} 
 
.suriname { 
	fill: #2ca02c; 
} 
 
.slovakia { 
	fill: #2ca02c; 
} 
 
.slovenia { 
	fill: #98df8a; 
} 
 
.sweden { 
	fill: #ff7f0e; 
} 
 
.swaziland { 
	fill: #aec7e8; 
} 
 
.sint_maarten_-dutch_part- { 
	fill: #aec7e8; 
} 
 
.seychelles { 
	fill: #1f77b4; 
} 
 
.syrian_arab_republic { 
	fill: #98df8a; 
} 
 
.turks_and_caicos_islands { 
	fill: #1f77b4; 
} 
 
.chad { 
	fill: #ff9896; 
} 
 
.togo { 
	fill: #2ca02c; 
} 
 
.thailand { 
	fill: #2ca02c; 
} 
 
.tajikistan { 
	fill: #2ca02c; 
} 
 
.turkmenistan { 
	fill: #ffbb78; 
} 
 
.timor_leste { 
	fill: #aec7e8; 
} 
 
.tonga { 
	fill: #1f77b4; 
} 
 
.trinidad_and_tobago { 
	fill: #1f77b4; 
} 
 
.tunisia { 
	fill: #ff7f0e; 
} 
 
.turkey { 
	fill: #d62728; 
} 
 
.taiwan__province_of_china { 
	fill: #1f77b4; 
} 
 
.tanzania__united_republic_of { 
	fill: #2ca02c; 
} 
 
.uganda { 
	fill: #98df8a; 
} 
 
.ukraine { 
	fill: #98df8a; 
} 
 
.uruguay { 
	fill: #ffbb78; 
} 
 
.united_states { 
	fill: #ffbb78; 
} 
 
.uzbekistan { 
	fill: #98df8a; 
} 
 
.saint_vincent_and_the_grenadines { 
	fill: #1f77b4; 
} 
 
.venezuela__bolivarian_republic_of { 
	fill: #2ca02c; 
} 
 
.virgin_islands__british { 
	fill: #1f77b4; 
} 
 
.virgin_islands__u.s. { 
	fill: #1f77b4; 
} 
 
.viet_nam { 
	fill: #ffbb78; 
} 
 
.vanuatu { 
	fill: #1f77b4; 
} 
 
.wallis_and_futuna { 
	fill: #1f77b4; 
} 
 
.samoa { 
	fill: #1f77b4; 
} 
 
.yemen { 
	fill: #d62728; 
} 
 
.south_africa { 
	fill: #ff7f0e; 
} 
 
.zambia { 
	fill: #98df8a; 
} 
 
.zimbabwe { 
	fill: #d62728; 
} 

.undefined {
	fill: #d62728; 	
}